:host {
  background-color: white;
  border: 1px solid gainsboro;
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.225);
  display: flex;
  max-height: 90%;
  max-width: 60vw;
  min-height: 90%;
  min-width: 60vw;
}