<aside class="outside">
  <nav>
    <button routerLink="/">x</button>
  </nav>
</aside>
<main>
  <div>
    <figure>
      <pokedex-glyph
        [link]="false"
        [pokemon]="pokemon"></pokedex-glyph>
    </figure>
  </div>
  <div>
    <header>
      <aside>
        {{ pokemon?.id }}
      </aside>
      <h4>
        {{ pokemon?.name }}
      </h4>
      <h5>
        {{ pokemon?.names?.ja?.name }}
      </h5>
    </header>
    <article>
      <section>
        <h5>
          description
        </h5>
        <p>
          {{ pokemon?.descriptions?.en?.red?.description}}
        </p>
        <blockquote>
          - english, pokemon red
        </blockquote>
      </section>
      <section>
        <h5>
          shape
        </h5>
        <p>
          {{ pokemon?.species?.shape?.name }}
        </p>
      </section>
      <section>
        <h5>
          habitat
        </h5>
        <p>
          {{ pokemon?.species?.habitat?.name }}
        </p>
      </section>
      <section>
        <h5>
          elements
        </h5>
        <pokedex-types
          [types]="pokemon?.types"></pokedex-types>
      </section>
      <section>
        <pokedex-evolutions
          [evolutionChain]="pokemon?.evolutionChain"
          [evolutions]="pokemon?.evolutions"
          [name]="pokemon?.name"></pokedex-evolutions>
      </section>
    </article>
  </div>
</main>
<footer>
  <a [routerLink]="['overview']">more</a>
</footer>