:host {
  --size: 96px;
  --offset: 30px;
  align-items: center;
  background-color: var(--background-color, #efefef);
  border-radius: 100%;
  display: flex;
  height: calc(var(--size) - var(--offset));
  justify-content: center;
  overflow: hidden;
  width: calc(var(--size) - var(--offset));
}

img {
  height: var(--size);
  display: block;
  width: var(--size);
}